.box {
  --mask: radial-gradient(30px at 50% calc(100% - 30px), #000 99%, #0000 101%)
      calc(50% - 60px) 0/120px 100%,
    radial-gradient(30px at 50% calc(100% + 0px), #0000 99%, #000 101%) 50%
      calc(100% - 30px) / 120px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  height: 110px;
  background: linear-gradient(281deg, #484f9c 0%, #a964e0 100%);
}
.about-img {
  transition: all 1s ease-in-out;
  animation: blob-animate 5s ease-in-out alternate infinite;
}
@keyframes blob-animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 38% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 68%;
  }
  100% {
    border-radius: 68% 40% 30% 70%/60% 60% 30% 60%;
  }
}
.about-section-container {
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  color: rgba(255, 255, 255, 0.8);
}
.about-section-container h2 {
  font-family: "Caveat", cursive;
  font-size: 4rem;
  font-weight: 400;
}
.who-am-i-wrapper h2 {
  color: #ff3d55;
}
.about-sec-top {
  display: flex;
}
.who-am-i-wrapper {
  width: 60%;
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-p {
  font-size: 1.2rem;
}
.sections-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.sections-wrapper img {
  width: 3.8rem;
  height: 3.8rem;
}
.what-i-do-wrapper {
  width: 70%;
  margin-top: 1rem;
}
.what-i-do-wrapper p {
  margin-bottom: 1rem;
}
.what-i-do-wrapper h2 {
  color: #22d3fe;
}
.bullet-point-wrapper {
  display: flex;
  gap: 0.4rem;
}
.what-i-can-do-wrapper h2 {
  color: #00d870;
}
.second-bullet-wrapper {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.618rem;
}
.box-bullet-point-wrapper {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 1.8rem;
  color: black;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}
.box-bullet-point-wrapper:hover {
  background: rgba(255, 255, 255, 0.4);
  transform: scale(1.05);
}
.box-bullet-point-wrapper:hover p {
  font-size: 1.1rem;
  width: 85%;
}
.box-bullet-point-wrapper p {
  width: 75%;
  transition: all 400ms ease-in-out;
}
.box-bullet-point-wrapper img {
  width: 5rem;
}
.ATQ-container {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 2rem;
}
.ATQ-container img {
  width: 80%;
  height: 113vh;
  /* z-index: -1; */
}
.ATQ-wrapper {
  z-index: 1;
  position: absolute;
  top: 0;
}
.ATQ-heading-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.ATQ-wrapper{
  width: 60%;
  color: black;
  font-family: 'Space Grotesk', sans-serif;
}

.ATQ-wrapper h2{
  font-size: 2rem;
  font-weight: bold;
}
.ATQ-questions-wrapper{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2.5rem;
}
.ATQ-questions-wrapper i{
  font-size: 1.2rem;
  font-weight: 500;
  font-family: poppins;
}