.box {
  --mask: radial-gradient(30px at 50% calc(100% - 30px), #000 99%, #0000 101%)
      calc(50% - 60px) 0/120px 100%,
    radial-gradient(30px at 50% calc(100% + 0px), #0000 99%, #000 101%) 50%
      calc(100% - 30px) / 120px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  height: 110px;
  background: linear-gradient(281deg, #484f9c 0%, #a964e0 100%);
  z-index: 111;
}
.about-img {
  transition: all 1s ease-in-out;
  animation: blob-animate 5s ease-in-out alternate infinite;
}
@keyframes blob-animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 38% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 68%;
  }
  100% {
    border-radius: 68% 40% 30% 70%/60% 60% 30% 60%;
  }
}
.about-section-container {
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  color: rgba(255, 255, 255);
}
.about-section-container h2 {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  font-weight: lighter;
}
.about-sec-top {
  display: flex;
  gap: 4rem;
}
.who-am-i-wrapper {
  /* width: 80%; */
  /* margin-left: 5rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  .who-am-i-wrapper h2 {
    color: #ff3d55;
  }
.about-p {
  font-size: clamp(1rem, 0.8592rem + 0.6009vw, 1.4rem);
  letter-spacing: 2px;
  font-family: "Space Grotsek", serif;
  text-align: justify;
  line-height: 145%;
}
.about-p i {
  font-weight: bolder;
  color: black;
  background-color: #a964e0;
  border-radius: 10px;
  padding: 0 10px;
  white-space: nowrap;
}
.sections-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.sections-wrapper img {
  width: 3.8rem;
  height: 3.8rem;
}
.what-i-do-wrapper {
  width: 100%;
  margin-top: 1rem;
}
.what-i-do-wrapper p {
  margin-bottom: 1.2rem;
}
.what-i-do-wrapper h2 {
  color: #22d3fe;
}
.bullet-point-wrapper {
  display: flex;
  gap: 0.4rem;
}
.bullet-point-wrapper p {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
}
.what-i-can-do-wrapper h2 {
  color: #00d870;
}
.second-bullet-wrapper {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}
.box-bullet-point-wrapper,
.box-bullet-point-wrapper-light {
  padding: 1.8rem;
  color: black;
  display: flex;
  align-items: center;
  gap:1rem;
  transition: all 500ms ease-in-out;
  cursor: pointer;
}
.box-bullet-point-wrapper:hover {
  background-color: rgba(240, 255, 255, 0.8);
}
.box-bullet-point-wrapper-light:hover {
  background-color: white;
}
.box-bullet-point-wrapper p,
.box-bullet-point-wrapper-light p {
  width: 75%;
}
.box-bullet-point-wrapper img,
.box-bullet-point-wrapper-light img {
  width: 5rem;
}
.ATQ-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
  text-align: center;
}
.ATQ-heading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ATQ-heading-wrapper h2 {
  font-family: Caveat;
  font-weight: bolder;
}

/* Media Query */
@media (max-width: 800px) {
  .about-img{
    display: none;
  }
  .second-bullet-wrapper{
    display: block;
  }
  .about-p{
    text-align: left;

  }
  .about-p i {
    border-radius: 0px;
    padding: 0 0px;
    white-space: wrap;
  }
}
@media (max-width: 500px) {
  
}
