* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.home-wrapper {
  width: 90%;
  display: flex;
  justify-content: left;
  align-items: center;
  margin: auto;
  /* margin-left: 5rem; */
  color: #c48aff;
  height: 100%;
  position: relative;
}
.home-victor-bg {
  width: 85vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 10px;
  z-index: 0;
}
.home-main-section {
  width: 65%;
}
.home-main-section-first-child {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-main-section-first-child-span{
  color: #ffffff92;
  font-size: 1.1rem;
  font-family: Space Grotesk;
}
.name {
  font-weight: 200;
  font-size: 5rem;
  color: #fff500;
  /* font-family: nameFont, "Roboto Slab", serif; */
  font-family: poppins;
  line-height: 100%;
  z-index: 111;
}

.post {
  font-size: 1.5rem;
  font-weight: bold;
  color: #c48aff71;
  line-height: normal;
  margin-bottom: 0.4rem;
  font-family: Anonymous Pro;
}
.sub-post {
  margin-bottom: 0.8rem;
}
.sub-post i {
  font-size: .9rem;
  background-color: #c48aff;
  color: #2f0743;
  font-family: "Space Grotsek";
  padding-bottom: 3px;
}
.primary-btn {
  width: 20%;
  color: #c48aff;
  padding: 0.8rem 1rem;
  border-radius: 2.5rem;
  background: transparent;
  border: 2px solid #c48aff;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}
.primary-btn:hover {
  background: linear-gradient(120deg, #a0c4fc 0%, #c48aff 100%);
  transform: translateY(-5px);
  color: #2f0743;
  border: 2px solid transparent;
}
.changed-primary-btn {
  width: 20%;
  color: #006effb7;
  padding: 0.8rem 0rem;
  border-radius: 5px;
  background: transparent;
  border: 2px solid #006eff9d;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}
.changed-primary-btn:hover {
  background: linear-gradient(91deg, #0094ff -9.64%, #003dab 185.3%);
  color: #ffffff;
  border: 2px solid transparent;
  box-shadow: 6px 8px 0px 1px rgba(0, 0, 0, 0.75),
    -2px -2px 2px 1px rgba(255, 255, 255, 0.3) inset;
}
.secondary-btn {
  border: 2px solid transparent;
  padding: 0.9rem 1.4rem;
  border-radius: 2.5rem;
  color: #2f0743;
  border: transparent;
  background: linear-gradient(90deg, #a0c4fc 0%, #d2c3fc 100%);
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}
.secondary-btn:hover {
  background: transparent;
  border: 2px solid #c48aff;
  transform: translateY(-5px);
  color: #c48aff;
}
.arrow-btn {
  border: none;
  width: 40%;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  font-weight: 500;
  color: #c48aff71;
  animation: arrow-btn-animation 2s ease-in-out infinite;
  transition: all 300ms ease-in-out;
}
.arrow-btn:hover {
  color: #c48affd0;
}
.my-photo {
  width: 15rem;
  filter: drop-shadow(0px 0px 6px #000000b4);
}
@keyframes arrow-btn-animation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
