* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.home-wrapper {
  width: 90%;
  margin: auto;
  display: flex;
  /* gap: 2rem; */
  justify-content: center;
  align-items: center;
  color: #c48aff;
}
.home-img-wrapper-light {
  background-image: url(home-shape-light.svg);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  width: 32rem;
}
.home-img-wrapper-dark {
  background-image: url(home-shape-dark.svg);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  width: 32rem;
}
.my-photo {
  width: 15rem;
  filter: drop-shadow(0px 0px 6px #000000b4);
}
.home-main-section-first-child {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-main-section-first-child-span {
  color: #ffffff92;
  font-size: 1.1rem;
  font-family: Space Grotesk;
}
.name {
  font-weight: 200;
  /* font-size: 5rem; */
  font-size: clamp(2.5rem, -0.4085rem + 6.0094vw, 5rem);
  color: #fff500;
  font-family: poppins;
  line-height: 100%;
  /* z-index: 111; */
}

.post {
  font-size: clamp(1rem, 0.8239rem + 0.7512vw, 1.5rem);
  font-weight: bold;
  color: #c48aff71;
  line-height: normal;
  margin-bottom: 0.4rem;
  font-family: Anonymous Pro;
}
.sub-post {
  margin-bottom: 0.8rem;
}
.sub-post i {
  font-size: 0.9rem;
  background-color: #c48aff;
  color: #2f0743;
  font-family: "Space Grotsek";
  padding-bottom: 3px;
}
.primary-btn {
  width: 25%;
  color: #c48aff;
  padding: 0.8rem 0rem;
  border-radius: 25px;
  background: transparent;
  border: 2px solid #c48aff;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}
.primary-btn:hover {
  background: linear-gradient(120deg, #a0c4fc 0%, #c48aff 100%);
  transform: translateY(-5px);
  color: #2f0743;
  border: 2px solid transparent;
}
.changed-primary-btn {
  width: 25%;
  color: #006effb7;
  padding: 0.8rem 0rem;
  border-radius: 5px;
  background: transparent;
  border: 2px solid #006eff9d;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}
.changed-primary-btn:hover {
  background: linear-gradient(91deg, #0094ff -9.64%, #003dab 185.3%);
  color: #ffffff;
  border: 2px solid transparent;
  box-shadow: 6px 8px 0px 1px rgba(0, 0, 0, 0.75),
    -2px -2px 2px 1px rgba(255, 255, 255, 0.3) inset;
}
.secondary-btn {
  border: 2px solid transparent;
  padding: 0.9rem 1.4rem;
  border-radius: 2.5rem;
  color: #2f0743;
  border: transparent;
  background: linear-gradient(90deg, #a0c4fc 0%, #d2c3fc 100%);
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}
.secondary-btn:hover {
  background: transparent;
  border: 2px solid #c48aff;
  transform: translateY(-5px);
  color: #c48aff;
}
.arrow-btn {
  border: none;
  width: 100%;
  text-align: left;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  font-weight: 500;
  color: #c48aff71;
  animation: arrow-btn-animation 2s ease-in-out infinite;
  transition: all 300ms ease-in-out;
}
.arrow-btn:hover {
  color: #c48affd0;
}

@keyframes arrow-btn-animation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

/* Media Query */
@media (max-width: 800px) {
  .home-wrapper {
    flex-direction: column;
  }
  .home-img-wrapper-light, .home-img-wrapper-dark {
    width: 80%;
    background-position: center;
  }
  .changed-primary-btn, .primary-btn{
    width: 25%;
    font-size: .8rem;
    padding: 0.5rem 0rem;
  }
}
@media (max-width: 500px) {
  .home-img-wrapper-light, .home-img-wrapper-dark {
    width: 100%;
    background-position: center;
  }
  .changed-primary-btn, .primary-btn{
    width: 30%;
    font-size: .8rem;
    padding: 0.5rem 0rem;
  }
}