.box {
  --mask: radial-gradient(30px at 50% calc(100% - 30px), #000 99%, #0000 101%)
      calc(50% - 60px) 0/120px 100%,
    radial-gradient(30px at 50% calc(100% + 0px), #0000 99%, #000 101%) 50%
      calc(100% - 30px) / 120px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  height: 110px;
  background: linear-gradient(281deg, #484f9c 0%, #a964e0 100%);
}
.about-img {
  transition: all 1s ease-in-out;
  animation: blob-animate 5s ease-in-out alternate infinite;
}
@keyframes blob-animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 38% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 68%;
  }
  100% {
    border-radius: 68% 40% 30% 70%/60% 60% 30% 60%;
  }
}
.about-section-container{
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  color: rgba(255, 255, 255, 0.75);
}
h2{
  font-family: 'Caveat', cursive;
  font-size: 3rem;
  font-weight: 400;
}
.who-am-i-wrapper h2 {
  color: #28fdfd;
}
.about-sec-top {
  display: flex;
}
.who-am-i-wrapper{
  width: 50%;
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sections-wrapper {
  display: flex;
  gap: 1rem;
}
.sections-wrapper img{
  width: 3.5rem;
  height: 3.5rem;
}
.what-i-do-wrapper{
  width: 65%;
  margin-top: 2rem;
}
.what-i-do-wrapper p{
  margin-bottom: 1rem;
}
.what-i-do-wrapper h2{
  color: #FF3D55;
}
.bullet-point-wrapper{
  
  display: flex;
  gap: 1rem;
}