.navbar {
  width: 100vw;
  display: grid;
  place-items: center;
  padding-top: 2rem;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  /* background-color: lightgoldenrodyellow; */
}
.nav-logo {
  width: 3rem;
}
.menu-wrapper {
    /* border: 2px solid rgba(255, 255, 255, 0.56); */
    position: absolute;
    top: 2rem;
    right: 2rem;
}
.nav-bg{
    width: 15rem;
    height: 22rem;
    border-radius: 12px;
    background-color: lightblue;
    padding: 2rem;
    padding-top: .7rem;
    padding-right: .85rem;
    /* clip-path: circle(8% at 88% 8%); */
    /* transition: all .5s ease-in-out; */
}
.nav-bg button{
    background-color: transparent;
    border: transparent;
    float: right;
}
