.projects-container {
  margin: auto;
  margin-top: 1rem;
  padding-top: 1rem;
  width: 90%;
}
.projects-container header {
  color: whitesmoke;
  margin-bottom: 2rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
.project-header-test-wrapper {
  font-size: clamp(1.4rem, 0.8366rem + 2.4038vw, 3rem);
  display: flex;
  gap: 1rem;
}
.orange {
  color: #f0a024;
}
.green {
  color: #04e07d;
}
.projects-container header img {
  width: 4rem;
  height: 4rem;
}
.project-sub-container {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}
.project-wrapper {
  background: #fff;
  box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.5);
  position: relative;
  border-radius: 15px;
  cursor: pointer;
}
.project-open-icon {
  position: absolute;
  right: 4px;
  top: 4px;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-in-out;
}
.project-wrapper:hover > .project-open-icon {
  color: black;
}
.project-wrapper img {
  width: 100%;
  border-radius: 15px;
}
.project-text-wrapper {
  padding: 1rem 2rem 2rem 2rem;
  overflow: hidden;
  display: flex;
  gap: .5rem;
  flex-direction: column;
  justify-content: center;
  position: relative;
  font-family: "space grotsek";
  color: #003598;
}
.project-text-wrapper:hover > .project-text-wrapper-heading {
  transform: translateY(-100px);
}
.project-text-wrapper:hover > .project-text-wrapper-p {
  transform: translateY(0px);
}
.project-text-wrapper:hover > .project-hover-text {
  transform: translateX(200px);
}
.project-text-wrapper-heading {
  transform: translateY(0px);
  font-size: 2rem;
  transform-origin: left;
  font-weight: 600;
  transition: all 0.5s linear;
  position: absolute;
}
.project-text-wrapper-p {
  transition: all 0.5s linear;
  transform: translateY(150px);
}
.project-hover-text{
  position: absolute;
  right: 0;
  bottom: -15px;
  color: rgba(0, 0, 0, 0.1);
  font-size: 3em;
  font-weight: bolder;
  font-family: "Nunito Sans", sans-serif;
  transition: all 0.5s linear;
}

/* Media Query */

@media (max-width: 1000px) {
  .projects-container header {
    gap: 0;
  }
  .project-header-test-wrapper {
    display: block;
    gap: 0;
  }
  .project-sub-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
